*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

html {
    height: 100%;
    background-image: linear-gradient(grey, white, grey);
}

body {
    padding: 0;
    margin: 0;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid black;
    outline: none;
    background-color: lightgray;
}

.calculator-grid > button:hover {
    background-color: rgb(228, 228, 228);
}

.calculator-grid .operator {
    background-color: rgb(65, 139, 250);
}

.calculator-grid > .operator:hover {
    background-color: rgb(116, 169, 248);
}

.calculator-grid .delete {
    background-color: rgb(250, 50, 50);
}

.calculator-grid > .delete:hover {
    background-color: rgb(247, 101, 101);
}

.calculator-grid .clear {
    grid-column: span 2;
    background-color: rgb(250, 50, 50);
}

.calculator-grid > .clear:hover {
    background-color: rgb(247, 101, 101);
}

.calculator-grid .equals {
    grid-column: span 2;
    background-color: rgb(1, 39, 95);
}

.calculator-grid > .equals:hover {
    background-color: rgb(54, 79, 116);
}

.output {
    grid-column: 1 / -1;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: lightgray;
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}